<div class="container">

    <div class="row">

        <div class="col-md-4"></div>

        <div class="col-md-4">

            <form action="{{#if editMode}} /admin/partidos/update/{{data.id}}{{else}}/admin/partidos/create{{/if}}" enctype="multipart/form-data"   method="POST"  class="p-4">

                <div class="card mt-5">

                    <div class="card-header bg-success">
                        <h6 class="text-center text-white"> {{#if editMode}}Edite{{else}}Introduzca{{/if}} la info del Partido: </h6>
                    </div>

                    <div class="card-body">

                        <div class="mb-3">
                            <label for="docdeidentidad" class="form-label">Nombre del Partido:</label>
                            <input type="text" class="form-control"  {{#if editMode}} value="{{data.nombre}}" {{/if}} id="docdeidentidad" name="Name">
                        </div>
                        
                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripcion</label>
                            <textarea name="descripcion"   class="form-control"  id="descripcion">{{#if editMode}} {{data.descripcion}} {{/if}}</textarea>
                        </div>

                        <div class="mb-3">
                            <label for="imagen-partido" class="form-label">Seleccione el logo: {{#if editMode}} <small>Si quiere mantener la foto actual, solo omita esta opcion</small> {{/if}} </label>
                            <input class="form-control" type="file" id="imagen-partido" name="ImagenPartido">
                        </div>

                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" name="StatusActive" id="statusActive" {{#if editMode}} {{#if data.estado}} checked {{/if}} {{else}}checked {{/if}}>
                            <label class="form-check-label" for="statusActive" > Activo </label>
                        </div>

                        <button type="submit" class="btn btn-success float end"> Guardar </button>

                    </div>

                </div>

            </form>

        </div>

        <div class="col-md-4"></div>    

    </div>

</div>