<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Partidos</h1>
      <p>
        <a href="/admin/partidos/create" class="btn btn-outline-primary my-2">Añadir nuevo Partido</a>
      </p>
    </div>
  </div>
</section>
{{#if data}}
 <div class="d-flex flex-wrap">
    {{#each data}}
    <div class="album py-5 bg-light">
        <div class="container">        
            <div class="card" style="width: 18rem;">
              {{#if estado}}
                  <div class="bg-success text-white text-center p-1">
                    <span>Disponible/visible</span>
                  </div>
                  {{else}}
                  <div class="bg-danger text-white text-center p-1">
                    <span>Eliminado/Invisible</span>
                  </div>
                {{/if}}
              <img class="controlImg" src="http://localhost:3000/uploads/{{logoPartido}}" class="card-img-top" alt="Nombre-del-Candidato">
              <div class="card-body">
                  <h5 class="card-title">{{nombre}}</h5>
                  <p>{{descripcion}}</p>
                  <div class="d-flex">
                    <a href="/admin/partidos/update/{{id}}" class="btn btn-primary mx-2"> Editar </a>
                    {{#if estado}}
                      <form action="/admin/partidos/delete/{{id}}" method="post">
                        <button type="submit" id="delete" class="btn btn-danger">Eliminar</button>
                      </form> 
                      {{else}}       
                    {{/if}}      
                  </div>
              </div>
            </div>
        </div>
    </div>
  {{/each}}
 </div>
  {{else}}
  <h2>Al parecer no hay partidos inscritos</h2>
{{/if }}