<div class="container">

    <div class="row">

        <div class="col-md-4"></div>

        <div class="col-md-4">

            <form method="POST" action="{{#if editMode}}/admin/ciudadanos/update/{{data.id}} {{else}}/admin/ciudadanos/create{{/if}}" class="p-4">

                <div class="card mt-5">

                    <div class="card-header bg-success">
                        <h6 class="text-center text-white"> {{#if editMode}}Edite{{else}}Introduzca{{/if}} la info del Ciudadano: </h6>
                    </div>

                    <div class="card-body">

                        <div class="mb-3">
                            <label for="nombre-ciudadano" class="form-label">Nombre del Ciudadano:</label>
                            <input type="text" class="form-control" {{#if editMode}} value="{{data.nombre}}" {{/if}} id="nombre-ciudadano" name="Name">
                        </div>

                        <div class="mb-3">
                            <label for="apellidos" class="form-label">Apellidos: </label>
                            <input type="text" class="form-control" {{#if editMode}} value="{{data.apellido}}" {{/if}} id="apellidos" name="Apellidos">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email: </label>
                            <input type="email" class="form-control" {{#if editMode}} value="{{data.email}}" {{/if}} id="email" name="email">
                        </div>
                        <div class="mb-3">
                            <label for="docdeidentidad" class="form-label">Documento de identidad:</label>
                            <input type="text" class="form-control" id="docdeidentidad" {{#if editMode}} value="{{data.documentoIdentidad}}" {{/if}} name="DocIdentidad">
                        </div>

                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" name="StatusActive" id="statusActive" {{#if editMode}} {{#if data.estado}} checked {{/if}} {{else}}checked {{/if}}>
                            <label class="form-check-label" for="statusActive"> Activo </label>
                        </div>

                        <button type="submit" class="btn btn-success float end"> Guardar </button>

                    </div>

                </div>

            </form>

        </div>

        <div class="col-md-4"></div>    

    </div>

</div>